<!DOCTYPE html>

<html lang="en">

<body>
<h1>Welcome to Spring, {{ name }}</h1>
<a href="/api/list">users</a>
<a href="/api/user">user</a>
<a href="/api/add">add</a>
<a href="/api/delete">delete</a>
<a href="/api/edit">edit</a>

<form method="post" action="/api/add">
    <div class="form-select-button">
    <label>Name:</label>
    <input name="name" path="/name" type="text">
    </div>
    <div class="form-select-button">
        <label>Login:</label>
        <input name="login" path="/login" type="text">
    </div>
    <div class="form-select-button">
        <label>Password:</label>
        <input name="password" path="/password" type="text">
    </div>
    <button type="submit" value="Add user">Add user</button>
</form>
</body>

</html>